# postgres container
POSTGRES_PASSWORD=z3OWcZ6aHDvfB39G
POSTGRES_USER=chethan
POSTGRES_DB=quota_db

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=database_name
DB_USERNAME=database_username
DB_PASSWORD=database_password
DB_SSLMODE=disable

QUOTA_DB_HOST=phoenix-admin-alerts-db
QUOTA_DB_PORT=5432
QUOTA_DB_NAME=quota_db
QUOTA_DB_USER=chethan
QUOTA_DB_PASSWORD=z3OWcZ6aHDvfB39G
QUOTA_THRESHOLDS=80,85,95

RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_QUEUE=v3_notifications

CRON_SCHEDULE=0 3 * * *